* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
}

.sidebar {
    background-color: #e26d5c;
    color: white;
    padding: 16px;
    grid-column: 1;
    grid-row: span 2;
}

.sidebar .sidebar-header {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar .menu {
    margin-top: 24px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sidebar .menu .personal, .sidebar .menu .settings {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar .menu .personal div, .sidebar .menu .settings div {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.header {
    grid-column: 2;
    grid-row: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
    padding: 16px 32px 16px 32px;
    background-color: #C9CBA3;
}

.header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-bottom: 16px;

}

.header .header-top form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header .header-top .menu-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .header-top .menu-right img {
    max-width: 48px;
}

.header .header-top form input {
    width: clamp(20vw, 35vw, 45vw);
    border-radius: 16px;
    box-sizing: border-box;
    height: 32px;
}

.header .header-top form button {

}

.header .header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-bottom .profile {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .header-bottom .profile img {
    max-width: 64px;
}

.header .header-bottom .profile div :nth-child(1) {
    font-size: 14px;
}

.header .header-bottom .profile div :nth-child(2) {
    font-size: 18px;
}

.header .header-bottom .buttons {
    display: flex;
    gap: 16px;
}

.content .projects {
    padding: 32px;
    background-color: #C9CBA3;
}

.content .projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;

}

.content .projects .cards .card {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content .projects .cards .card .buttons {
    align-self: flex-end;
}