* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
}

.sidebar {
    background-color: #e26d5c;
    color: white;
    padding: 16px;
    grid-column: 1;
    grid-row: span 2;
}

.sidebar .sidebar-header {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar .menu {
    margin-top: 24px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sidebar .menu .personal, .sidebar .menu .settings {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar .menu .personal div, .sidebar .menu .settings div {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.header {
    grid-column: 2;
    grid-row: 1;
}

.header .header-top {
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;

}

.header .header-top form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header .header-top .menu-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .header-top .menu-right img {
    max-width: 48px;
}

.header .header-top form input {
    max-width: 40vW;
    border-radius: 16px;
    box-sizing: border-box;
    height: 32px;
}

.header .header-top form button {

}